@import 'src/styles/global.scss';

/* card */

.card {
  display: flex;
  margin-bottom: $space-sm;
  background: $secondary;
  font-size: 1.25rem;

  &__form {
    display: flex;
    flex-grow: 1;
  }

  &__label {
    flex-grow: 1;
  }

  &__title {
    display: none;
  }

  &__input {
    width: 100%;
    padding: $space-sm;
    border: 1px solid $secondary;
    background: none;
    color: $yellow;
    font-size: 1.25rem;

    &:focus {
      border: 1px dashed $white;
      outline: none;
    }

    &:disabled {
      color: $white;
    }

    .card--complete & {
      text-decoration: line-through;
      color: $green;

      &:not(:disabled) {
        color: $yellow;
      }
    }

    .card--editing & {
      display: inline-block;
    }
  }

  &__button {
    background: none;
    width: 40px;
    border: 1px dashed $secondary;
    cursor: pointer;
    color: white;
    font-size: 1rem;

    &:hover,
    &:focus {
      opacity: 0.75;
    }

    &:focus-visible {
      border-color: $white;
      outline: none;
    }

    &--edit,
    &--submit {
      margin-left: auto;
      color: $yellow;
    }

    &--edit {
      .card--editing & {
        display: none;
      }
    }

    &--submit {
      display: none;

      .card--editing & {
        display: inline-block;
      }
    }

    &--remove {
      color: $red;
    }

    &--complete {
      color: $green;
    }
  }
}
