@import 'src/styles/global.scss';

/* card */

.card {
  padding: $space-sm;
  margin-bottom: $space-md;
  background: $secondary;

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
