@import 'src/styles/global.scss';

/* Filters */

.filters {
  padding: $space-xs;
  font-size: $font-default;

  &__label {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: $space-xs;
    }
  }

  &__input {
    margin-right: $space-xs;
  }
}
