@import 'src/styles/global.scss';

/* Sort */

.sort {
  &__select {
    padding: $space-xs;
    border: 0;
    color: $white;
    background: 0;
    font-size: $font-default;
    cursor: pointer;
  }
}
