@import 'src/styles/global.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $primary;
  color: $white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 500px;
  margin: auto;
}
